/* Montserrat (hosted in Yandex Object Storage) */
@font-face{
  font-family:"Montserrat";
  src:url("https://storage.yandexcloud.net/gidsam-data/fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight:400;
  font-style:normal;
  font-display:block; /* чтобы НЕ мерцало шрифтами */
}
@font-face{
  font-family:"Montserrat";
  src:url("https://storage.yandexcloud.net/gidsam-data/fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight:500;
  font-style:normal;
  font-display:block;
}
@font-face{
  font-family:"Montserrat";
  src:url("https://storage.yandexcloud.net/gidsam-data/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight:600;
  font-style:normal;
  font-display:block;
}
@font-face{
  font-family:"Montserrat";
  src:url("https://storage.yandexcloud.net/gidsam-data/fonts/montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight:700;
  font-style:normal;
  font-display:block;
}

/* Global default for widgets */
.gidsam, .gidsam *{
  font-family:"Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
